# torch
# torchvision
certifi==2024.6.2
cloudpickle==3.0.0
cycler==0.12.1
dask==2024.6.2
decorator==5.1.1
future==1.0.0
imageio==2.34.1
kiwisolver==1.4.5
matplotlib==3.9.0
networkx==3.3
opencv-python
pandas==2.2.2
Pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
scikit-image==0.24.0
scipy==1.13.1
six==1.16.0
tifffile==2024.6.18
toolz==0.12.1
Wand==0.6.13
tqdm
addict
yapf
regex
pyyaml
easydict
anytree
beautifulsoup4
datasets
filelock
flair
jieba
language-tool-python
lru-dict
nltk
num2words
numpy==1.26.4
protobuf
python-Levenshtein
PyYAML
requests
scikit-learn==1.5.0
segtok
sentence-transformers
six
stanza
syntok
tensorflow==2.16.1
tensorflow-hub==0.16.1
terminaltables
tf-sentencepiece
tokenizers
# torch==1.8.1+cu111
tqdm
transformers
word2number
zhon
